common.env filter=git-crypt diff=git-crypt
src/main/resources/application-secret.yml filter=git-crypt diff=git-crypt
src/test/resources/application-secret.yml filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
